{% extends 'frontoffice-evenement-details.html.twig' %}

{% block eventdetail %}
  <section class="dark-wrapper opaqued parallax"
    data-parallax="scroll"
    data-image-src="/uploads/images/events/{{event.image}}"
    data-speed="0.7">
    <div class="section-inner text-center">
      <div class="container">
        <div class="row">
          <div class="col-sm-8 col-sm-offset-2 mt30 wow">
            <h2 class="section-heading">
              {{ event.nomevenement }}
            </h2>

            <div class="item-metas text-muted mb30 white">
              <span class="meta-item">
                <i class="pe-icon pe-7s-folder"></i> Date <span>{{ event.dateevenement | date("m/d/Y") }}</span>
              </span>
              <span class="meta-item">
                <i class="pe-icon pe-7s-user"></i> AUTHOR <span>
                  Fatma Naili
                </span>
              </span>
              <span class="meta-item">
                <i class="pe-icon pe-7s-comment"></i> COMMENTS <span>3</span>
              </span>
              <span class="meta-item post-date">
                <i class="pe-icon pe-7s-clock"></i> POSTED <span>
                  12th December, 2016
                </span>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section>
        <div class="section-inner">
            <div class="container">
                <div class="row">
                    <div id="post-content" class="col-sm-8 col-sm-offset-2 blog-item mb60 wow">
                        <div class="row">
                            {% if full %}
                                <h3 class="warn">Evenement Complet</h3>
                            {% elseif participated %}
                                <h3>Vous etes inscrit(e) a cet evenement</h3>
                            {% else %}
                                <a class="btn btn-primary" href="{{path ('eventparticipation', {id: event.id})}}">Participer</a>
                            {% endif %}

                            <div class="col-sm-12 single-post-content">
                                <p>Behind sooner dining so window excuse he summer. Breakfast met certainty and fulfilled propriety led. Waited get either are wooded little her. Contrasted unreserved as mr particular collecting it everything as indulgence. Seems ask meant merry could put. Age old begin had boy noisy table front whole given. Behind sooner dining so window excuse he summer. Breakfast met certainty and fulfilled propriety led. Waited get either are wooded little her. Contrasted unreserved as mr particular collecting it everything as indulgence. Seems ask meant merry could put. Age old begin had boy noisy table front whole given.</p>
                                <p>Behind sooner dining so window excuse he summer. Breakfast met certainty and fulfilled propriety led. Waited get either are wooded little her. Contrasted unreserved as mr particular collecting it everything as indulgence. Seems ask meant merry could put. Age old begin had boy noisy table front whole given.</p>
                            </div>

                            
                        </div>
                    </div>

                    <div id="comments-list" class="col-sm-8 col-sm-offset-2 gap wow">
                        <div class="mt60 mb50 single-section-title">
                            <h3>3 Comments</h3>
                        </div>
                        <div class="media">
                            <div class="pull-left">
                                <img class="avatar comment-avatar" src="/assets/img/users/1.jpg" alt="">
                            </div>
                            <div class="media-body">
                                <div class="well">
                                    <div class="media-heading">
                                        <span class="heading-font">Dave Evans</span>&nbsp; <small class="secondary-font">30th Jan, 2015</small>
                                    </div>
                                    <p>Was are delightful solicitude discovered collecting man day. Resolving neglected sir tolerably but existence conveying for. Day his put off unaffected literature partiality inhabiting.</p>
                                    <a class="btn btn-primary pull-right" href="#">Reply</a>
                                </div>
                                <div class="media">
                                    <div class="pull-left">
                                        <img class="avatar comment-avatar" src="/assets/img/users/2.jpg" alt="">
                                    </div>
                                    <div class="media-body">
                                        <div class="well">
                                            <div class="media-heading">
                                                <span class="heading-font">Dave Evans</span>&nbsp; <small>30th Jan, 2015</small>
                                            </div>
                                            <p>Wicket longer admire do barton vanity itself do in it. Preferred to sportsmen it engrossed listening. Park gate sell they west hard for the. Abode stuff noisy manor blush yet the far. Up colonel so between removed so do.</p>
                                            <a class="btn btn-primary pull-right" href="#">Reply</a>
                                        </div>
                                    </div>
                                </div>
                                <!--/.media-->
                            </div>
                        </div>
                        <!--/.media-->
                        <div class="media">
                            <div class="pull-left">
                                <img class="avatar comment-avatar" src="/assets/img/users/3.jpg" alt="">
                            </div>
                            <div class="media-body">
                                <div class="well">
                                    <div class="media-heading">
                                        <span class="heading-font">Dave Evans</span>&nbsp; <small>30th Jan, 2015</small>
                                    </div>
                                    <p>Quitting informed concerns can men now. Projection to or up conviction uncommonly delightful continuing. In appetite ecstatic opinions hastened by handsome admitted.</p>
                                    <a class="btn btn-primary pull-right" href="#">Reply</a>
                                </div>
                            </div>
                        </div>
                        <!--/.media-->

                        <div id="comments-form" class="row wow">
                            <div class="col-md-12">
                                <div class="mt60 mb50 single-section-title">
                                    <h3>Leave A Reply</h3>
                                </div>
                                <div id="comment_message"></div>
                                <form method="post" id="commentform" class="comment-form">
                                    <input type="text" class="form-control col-md-4" name="name1" placeholder="Your Name *" id="name1" required data-validation-required-message="Please enter your name." />
                                    <input type="text" class="form-control col-md-4" name="email1" placeholder="Your Email *" id="email1" required data-validation-required-message="Please enter your email address." />
                                    <input type="text" class="form-control col-md-4" name="website1" placeholder="Your URL *" id="website1" required data-validation-required-message="Please enter your web address." />
                                    <textarea name="comments1" class="form-control" id="comments1" placeholder="Your Message *" required data-validation-required-message="Please enter a message."></textarea>
                                    <a class="btn btn-primary pull-right" href="#">Reply</a>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
