<div class="container">
<section id="main-content">
    <section class="wrapper">
        <h3><i class="fa fa-angle-right"></i> WELCOME</h3>
        <div class="row mt">
    <div class="col-lg-12">
        <h4><i class="fa fa-angle-right"></i> Ajouter Commande</h4>
        <form role="form" class="style-form" method="post" action="/AddCommande">
        <div class="form-panel">

        {{ form_start(form) }}
            {{ form_widget(form) }}

            {{ form_end(form) }}

        </div>
        </form>
        <!-- /form-panel -->
    </div>
    <!-- /col-lg-12 -->
</div>
    </section>
    </div>
    <!-- /row -->
    <!-- FORM VALIDATION -->

